@import "../../../../Variables.scss";

$topContainerHeight: 17%;

.container {
  position: absolute;
  height: 100vh;
  width: 405px;
  top: 0;
  left: 75px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 10px;
  box-shadow: 15px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-left: 1px solid $lightGray;
  background-color: white;
  box-sizing: border-box;
  z-index: 9;
}

.top_container {
  border-bottom: 1px solid $lightGray;
  height: $topContainerHeight;
  box-sizing: border-box;
  padding: 20px 20px 20px 10px;
  font-size: 23px;
  font-weight: bold;
  p {
    font-family: $fontSego;
    margin-left: 10px;
    font-weight: 600;
  }
  position: relative;
}

.search {
  position: absolute;
  bottom: 26px;
  width: 90%;
  height: 35px;
  padding: 3px 0;
  background-color: $lightestGray;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  border-radius: 8px;
  margin-left: 5px;
}

.img_wrapper {
  width: 16%;
  height: 100%;
  text-align: center;
  img {
    width: 14px;
    height: 14px;
  }
}

.search_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.search_input {
  width: 100%;
  font-size: 15px;
  font-family: $fontSego;
  border: none;
  outline: none;
  font-weight: 100;
  box-sizing: border-box;
  padding-right: 13px;
  background-color: transparent;
}

.search-container:has(input:focus) .button {
  visibility: hidden;
}

.bottom_container {
  height: calc(100% - $topContainerHeight);
}

.search_input:focus-within .img_wrapper {
  display: none;
}

.bottom_container {
  box-sizing: border-box;
}

.btn {
  border-radius: 100%;
  position: absolute;
  width: 14px;
  height: 14px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    cursor: pointer;
    height: 100%;
  }
  outline: none;
}

.search_input::-webkit-search-cancel-button {
  display: none;
}
