@import "../../../../Variables.scss";

.input_container {
  position: relative;
  margin-bottom: 7px;
  border-radius: 3px;
  background-color: #e4e5e653;
}
.input_container label {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 12px;
  color: black;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  color: $inputLabelColor;
}
.input_container input {
  border: 0;
  background: transparent;
  width: 100%;
  padding: 13px 10px 5px 10px;
  font-size: 12px;
  border: none;
  outline: none;
  color: black;
}
.input_container input:focus ~ label,
.input_container input:valid ~ label {
  top: 1px;
  left: 10px;
  font-size: 9px;
}
