.container {
  width: 61%;
  height: 150px;
  box-sizing: border-box;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}


