@import "../../../../../Variables.scss";

.msg_notification {
  position: absolute;
  top: 327px;
  left: 38px;
  font-weight: bolder;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  pointer-events: none;
  background-color: #f94144;
  cursor: default;
  span {
    font-family: $fontSego;
    font-size: 12px;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    bottom: 1px;
  }
}
