@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster+Two&family=Open+Sans:wght@500&family=Pacifico&display=swap");

$fontOpenSans: "Open Sans", sans-serif;
$fontDancing: "Dancing Script", cursive;
$fontLobster: "Lobster Two", cursive;

$inputCardBorderColor: rgb(219, 219, 219);
$inputLabelColor: rgb(133, 133, 133);
$darkBlue: rgba(0, 55, 107, 255);
$lightBlue: rgba(0, 149, 246, 255);
$lightBlueDisabled: rgba(76, 181, 249, 255);
$errorRed: #ea5455;
