.search_result {
  height: 63%;
  margin-top: 12px;
  overflow-y: auto;
  position: relative;
}

.chat_btn_wrapper {
  position: sticky;
  width: 94%;
  margin: 20px auto 0 auto;
  button {
    padding: 13px 0;
    font-size: 14px;
  }
}

#loadingGif {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
