@import "../../../Variables.scss";

.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #1a1a1a;
  display: flex;
  position: relative;
}

.close{
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 30px;
  img{
    height: 100%;
    width: 100%;
  }
}

.logo_wrapper{
  height: 100%;
  width: 8%;
  h1 {
    @include InstagramHTag;
    font-size: 30px;
    font-weight: 500;
    color: white;
    position: relative;
    top: 13px;
    left: 15px;
    width: fit-content;
  }
}
